@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input[type=checkbox]:checked {
            background-image: url('check.svg'), 
                            linear-gradient(to right bottom, #18cfff, #1999f7);
                              background-position: center center;
                              background-repeat: no-repeat;
    }
}